<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 3.5.0 (tags/RELEASE_350/final)</string>
 <key>files</key>
 <array>
  <string>C:/projects/flight/firmware/src/core/stm32f4xx_rtc.c</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>792</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>792</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>792</integer>
         <key>col</key><integer>56</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetTime</string>
  <key>issue_hash</key><string>26</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>792</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>966</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>966</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>966</integer>
         <key>col</key><integer>54</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetDate</string>
  <key>issue_hash</key><string>20</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>966</integer>
   <key>col</key><integer>5</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>968</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>968</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>968</integer>
         <key>col</key><integer>53</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetDate</string>
  <key>issue_hash</key><string>22</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>968</integer>
   <key>col</key><integer>5</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1153</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1153</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1153</integer>
         <key>col</key><integer>71</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetAlarm</string>
  <key>issue_hash</key><string>37</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1153</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1168</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1168</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1168</integer>
         <key>col</key><integer>68</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetAlarm</string>
  <key>issue_hash</key><string>52</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1168</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1173</integer>
      <key>col</key><integer>7</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1173</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>1173</integer>
         <key>col</key><integer>68</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;tmpreg&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;tmpreg&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>RTC_SetAlarm</string>
  <key>issue_hash</key><string>57</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1173</integer>
   <key>col</key><integer>7</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>